<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Market">

    <insert id="insertMarket">
        insert into MARKET2 (username, phonenum, category, buydate, usefeel, originalprice, saleprice, soldout)
        values (#{username} , #{phonenum} , #{category} , #{buydate},#{usefeel},#{originalprice},#{saleprice},#{soldout})
    </insert>
    <update id="updateMarket">
        update MARKET2
        set username=#{username}, phonenum=#{phonenum}, category=#{category}, buydate=#{buydate}, usefeel=#{usefeel}, originalprice=#{originalprice}, saleprice=#{saleprice}, soldout=#{soldout} where seq=#{seq}
    </update>
    <delete id="deleteMarket">
        delete from MARKET2 where seq=#{seq}
    </delete>
    <select id="getMarket" resultType="market">
        select * from MARKET2 where seq=#{seq}
    </select>
    <select id="getMarketList" resultType="market">
        select * from MARKET2 order by seq desc
    </select>
</mapper>