<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "htp://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="User">
    <insert id="insertUser">
        <![CDATA[
        insert into MEMBER (userid, username, password)
        values (#{userid} , #{username} , #{password})
        ]]>
    </insert>
    <select id="getUser" resultType="com.mycom.myapp.member.UserVO">
        select userid from MEMBER where userid=#{userid} and password=#{password}
    </select>
</mapper>
